.p-inputotp {
    justify-content: space-between;
    input{
        width: 52px;
        height: 52px;
    }
}
input{
    background: var(--color-light) !important;
    &:focus{
        background: var(--color-light);
        outline: none;
        box-shadow: none;
    }
}
/* .upload-btn .p-button-icon-left {
  display: none !important;
} */