@import "./variables.css";
@import "./layout/header.css";
@import "./pages/home.css";
@import "./pages/contact.css";
@import "./layout/public.css";
@import "./components/input.css";
@import "./layout/private.css";
@import "./pages/payment.css";
@import "./pages/address.css";
@import "./components/table.css";
@import "./components/button.css";