@media screen and (max-width: 991px) {
  .navbar {
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    width: 80vw;
    box-shadow: 0px 0px 10px gray;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    &.mobile-menu {
      transform: translateX(0);
    }
  }
}
.notification-item{
  border-bottom: 1px solid #D4D4D4;
  padding: 5px 0;
  .unread-dot{
    width: 8px;
    height: 8px;
    background: #FF3347;
  }
}