.image-box{
    width: 155px;
    height: 150px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .cross-icon{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
}